<div class="container mt-4">
<div class="container pt-4">
  <div class="border border-dark">
    <div class="p-5 rounded-lg text-center text-dark" id= "jumbotron-about">
      <h1 class="display-4 mt-4 mb-3 pb-5 fw-bold">Ruby on Rails developer</h1>
      <p class="lead text-dark">Hi there, I'm Fabian Martinez, from Uruguay. 32 years old</p>
      <p class="text-dark">Working, Learning and progress - Ruby / Html / Css</p>
    </div>
  </div>
</div></div>
