<div id="page-content">
<div class="container mt-4 pt-2">
  <div class="bg-light p-5 rounded-lg text-center text-white" id= "jumbotron">
        <h1 class="display-4 fw-bold">Alpha BLOG</h1>
        <p class="lead">Created on Ruby on rails course</p>
        <p>Working, Learning and progress - Ruby / Html / Css</p>
        <hr class="my-4">
        <p>Sign up for view all articles</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
  </div>
</div>
</div>
