/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import "bootstrap";


  .navbar {
  background-color: black !important;
  }

  #boton-icon {
    text-color: white!important;
    background-color: white;
    border-color: white;
    border: 1px;
  }

  #menu-article {
    text-color: white!important;
    background-color: black;
    border-color: white;
    border: 1px;
  }

  #navbarSupportedContent {
    color: white!important;
    border-color: rgb(255,102,203);
  }
  .menu {
    color: white!important;
  }
  .nav-link {
  color: white!important;
  }

  #logo {
  color: white!important;
  float: left;
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  }

  #page-content {
  flex: 1 0 auto;
  padding-top: 2px;
  border:0;
  }

  #jumbotron-about {
  background-image: image-url('f.jpg');
  background-position: center 47%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
  }

  #jumbotron {

    margin: 0;
    background-image: image-url('e.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
  }
