/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import "bootstrap";

  .center {
  margin-left: auto;
  margin-right: auto;
  }

  .navbar {
  background-color: black !important;
  }

  #boton-icon {
    text-color: white!important;
    background-color: white;
    border-color: blue;
    border: 1px;
  }

  #menu-article {
    text-color: white!important;
    background-color: lightgrey;

  }

  #navbarSupportedContent {
    color: white!important;
    border-color: rgb(255,102,203);
  }
  .menu {
    color: white!important;
  }
  .nav-link {
  color: white!important;
  }

  #logo {
  color: white!important;
  float: left;
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  }

  #page-content {
  flex: 1 0 auto;
  padding-top: 2px;
  border:0;
  }

  #jumbotron-about {
  background-image: image-url('f.jpg');
  background-position: center 47%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
  }

  #jumbotron {

    margin: 0;
    background-image: image-url('e.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
  }

  .dropdown-menu[data-bs-popper] {
    left:auto;
    right: -1em;
    text-align:right;
  }
  // .main-footer {
  //   margin-top: auto;
  // }
  // body {
  //   display: flex;
  //   min-height: 100vh;
  //   flex-direction: column;
  // }
  //
  // main {
  //   flex: 1;
  // }
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  // footer {
  //   text-align:center;
  //   font-size: 12px;
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   /* Set the fixed height of the footer here */
  //   height: 15px;
  //   background-color: #f5f5f5;
  // }

// .footer {
//     background-color: #efefef;
//     height:50px;
//     margin-top: auto;
//   }
  // .footer {
  //    position: fixed;
  //    left: 0;
  //    bottom: 0;
  //    width: 100%;
  //    background-color: dark;
  //    color: white;
  //    text-align: center;
  // }
/*Pagination Styling */

.flickr_pagination {
  text-color: #343434;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;   }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.4em; }

  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
