<footer class="fixed-bottom text-center py-4 bg-dark text-white" id="footer">
    <div class="container">
Ruby on Rails Web Design . HTML / CSS Basics by <%= link_to 'Desane', 'https://desane.com.uy', class: "text-white" %>
    </div>
</footer>
